*{
	box-sizing: border-box;
}

.d-block {
    display: block;
}


/* Container */
.container{
	max-width: 1336px;
	padding: 0 15px;
	margin: 0 auto;
background: pink;
}


/* Blog */
.blog{

}

.item-img {
max-width: 30%;

}

.blog_items_block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
	margin: 0px -30px 0 -30px;
}
