* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1306px;
  margin: 0 auto;
  padding: 0 15px;
}

.fifth-screen__wrapper--flex {
  margin-top: 125px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fifth-screen__img--1_img {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.fifth-screen__h1--style {
  margin: 40px 0 85px;
  font-size: 38px;
  line-height: 30px;
  color: #000000;
  font-weight: 600;
  text-align: center;
}
.fifth-screen__img--2_img {
  margin: 0 auto 25px;
  width: 99px;
  height: 14px;
}
.fifth-screen__p--style {
  margin: 0 auto 35px;
  max-width: 807px;
  font-size: 18px;
  line-height: 32px;
  color: #252525;
  font-weight: 400;
  text-align: center;
}
.fifth-screen__iner--disc {
  width: 60px;
  height: 60px;
  margin: 0 auto 24px;
  border-radius: 30px;
  background-color: #eeeeee;
}
.fifth-screen__h2--style {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  text-align: center;
}
.fifth-screen__h3--style {
  margin-bottom: 135px;
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  text-align: center;
}
.fifth-screen__wrapp--grid {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  justify-content: space-between;
}

.sixth-screen {
  padding-top: 112px;
  background-color: #f5f5f5;
}
.sixth-screen__wrapper--text {
  margin-bottom: 50px;
}
.sixth-screen__h2--style {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 28px;
  color: #000000;
  font-weight: 600;
  text-align: center;
}
.sixth-screen__p--style {
  font-size: 14px;
  line-height: 28px;
  color: #999999;
  font-weight: 400;
  text-align: center;
}
.sixth-screen__span--color {
  color: #f8c212;
}
.sixth-screen__wrapper--contact-box {
  max-width: 947px;
  margin: 0 auto;
}
.sixth-screen__form--flex {
  padding-bottom: 35px;
  display: flex;
  gap: 31px;
}
.sixth-screen__input {
  margin: 0 auto;
  padding-left: 20px;
  width: 295px;
  height: 60px;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans";
}
.sixth-screen__input::-webkit-input-placeholder {
  color: #bbbbbb;
}
.sixth-screen__input::-moz-placeholder {
  color: #bbbbbb;
}
.sixth-screen__textarea--text {
  padding: 30px 0 0 20px;
  margin-bottom: 45px;
  width: 947px;
  height: 157px;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
  font-weight: 400;
}
.sixth-screen__textarea--text::-webkit-input-placeholder {
  color: #bbbbbb;
}
.sixth-screen__textarea--text::-moz-placeholder {
  color: #bbbbbb;
}
.sixth-screen__input--send_meesage {
  width: 472px;
  height: 60px;
  background-color: #ffae00;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.footer {
  background-color: #000000;
}
.footer__wrapper--flex {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer__span--style {
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  color: #dadada;
}
.footer__wrapp--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__inner--grid {
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
*{
	box-sizing: border-box;
}
  
.item-img {
    max-width: 33.3%;
}

  .header{
    left:0;
    right:0;
    top:0;
    position:fixed;
    background-color:#f1f1f1;
    opacity: 0.8;
    z-index:100;
  }
  .header__container{
    display:flex;
    justify-content:space-between;
    min-height: 60px;
    align-items: center;
  }
  .header__logo{
    font-size:32px;
  }
  .header__cap-letter{
    color:rgb(253,163,0);
  }
  .header__nav{
    margin-right:-35px;
  }
  .header__menu-item{
    font-size:14px;
    margin-right:35px;
    text-decoration-line: none;
    color:black;
  }
  .header__menu-item:hover{
    color:grey;
  }
  .header__menu-wrapper{margin-right:105px;}
  .first-screen{
    background-color:rgb(241,241,241);
  }

  .first-screen__container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
  }

  .first-screen__text-container{
    max-width:500px;
    margin-top: 15vh;
  }

  .first-screen__header{
    font-size:44px;
    line-height:1.3;
  }
  .first-screen__text{
    margin-top:35px;
    font-size:14px;
    color:grey;
    
  }
  .first-screen__img{
    max-height: 620px;
  }
  
  
  .d-block {
      display: block;
  }

.first-screen__header{
  font-size:44px;
  line-height:1.3;
}

/* Blog */

.blog_items_block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
/* Основное */

*{
    box-sizing: border-box;
    list-style: none;
}

button{
    border: none;
    outline: none;
}

body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1336px;
    padding-left: 15px;
    padding-right:15px;
    margin: 0 auto;
}

/* Вёрстка */

/* Секция 2 */

/* Container */

.container{
  max-width:1336px;
  padding-left:15px;
  padding-right:15px;
  margin:0 auto;
}

/* Секция 1 */

.section-2{
    background-color: white;
}
.section-2__org{
    display: flex;
    justify-content: space-evenly;
    gap: 55px;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-2__element-wrap{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.section-2__header{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    color: black;
    text-align: left;
}

.section-2__para{
    font-size: 14px;
    color: black;
    text-align: left;
}

/* Секция 3 */

.section-3{
    background-color: #f7f7f7;
}

.section-3__pic-wrap{
  max-width: 645px;
}

.header__nav{
  margin-right:-35px;
}

.header__nav{
  margin-right:-35px;
}

.header__menu-item{
  font-size:14px;
  margin-right:35px;
  text-decoration-line: none;
  color:black;
}

.section-2__pic{
    height: 70px;
}
/* Секция 2 */

.section-3{
    background-color: #f7f7f7;
}

.section-3__org{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 115px;
    padding-bottom: 140px;
}

.header__menu-wrapper{
  margin-right:105px;
}

.first-screen{
  background-color:rgb(241,241,241);
}

.section-1__pic-wrap{
  max-width: 505px;
  align-self: flex-end;
  position: relative;
  bottom: -3px;
}

.section-1__pic{
  width: 100%;
}

.first-screen__header{
  font-size:44px;
  line-height:1.3;
}

.section-3__pic{
  width: 100%;
}

.section-3__topic-header{
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 17px;
    text-transform: capitalize;
}

.first-screen__img{
  max-height: 620px;
}

.section-3__line{
    display: inline-block;
    height: 3px;
    width: 37px;
    background-color: black;
    position: relative;
    top: 7px;
}

.section-3__topic{
    display: flex;
    gap: 20px;
}

.section-3__header{
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.section-3__header--span{
    color: #ffae00;
}

.section-3__text{
    max-width: 400px;
}

.section-3__topic-header{
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 17px;
    text-transform: capitalize;
}

.section-3__topic-para{
    font-weight: bold;
    font-size: 14px;
    color: darkgray;
    margin-bottom: 30px;
    text-transform: capitalize;
}