*{
	box-sizing: border-box;
}
.container{
  max-width:1336px;
  padding-left:15px;
  padding-right:15px;
  margin:0 auto;

}
body{
  overflow: hidden;
}

.header{
  left:0;
  right:0;
  top:0;
  position:fixed;
  background-color:transparent;
  z-index:100;
}
.header__container{
  display:flex;
  justify-content:space-between;
  margin-top:50px;
}
.header__logo{
  font-size:32px;
}
.header__cap-letter{
  color:rgb(253,163,0);
}
.header__nav{
  margin-right:-35px;
}
.header__menu-item{
  font-size:14px;
  margin-right:35px;
  text-decoration-line: none;
  color:black;
}
.header__menu-item:hover{
  color:grey;
}
.header__menu-wrapper{margin-right:105px;}
.first-screen{
  background-color:rgb(241,241,241);
 
 
}

.first-screen__container{
  height:100vh;
  padding-top:150px;
  
  background-image:url(../assets/images/First-screen.png);
  background-repeat:no-repeat;
  background-size:750px 900px;
  background-position:92% 76%;
}
  
.item-img {
    width: 33.3%;
}

.blog_items_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.first-screen__text-container{
  margin-top:255px;
  max-width:500px;
}

.first-screen__header{
  font-size:44px;
  line-height:1.3;


}
.first-screen__text{
  margin-top:35px;
  font-size:14px;
  color:grey;
  
}
.first-screen__img{
  max-height: 620px;
}


.d-block {
    display: block;
}



/* Секция 2 */

/* Container */

.container{
  max-width:1336px;
  padding-left:15px;
  padding-right:15px;
  margin:0 auto;
}
body{
  overflow: hidden;
}

.header{
  left:0;
  right:0;
  top:0;
  position:fixed;
  background-color:transparent;
  z-index:100;
}
.header__container{
  display:flex;
  justify-content:space-between;
  margin-top:50px;
}
.header__logo{
  font-size:32px;
}
.header__cap-letter{
  color:rgb(253,163,0);
}

/* Секция 3 */

.section-3{
    background-color: #f7f7f7;
}

.header__nav{
  margin-right:-35px;
}
.header__menu-item{
  font-size:14px;
  margin-right:35px;
  text-decoration-line: none;
  color:black;
}
.header__menu-item:hover{
  color:grey;
}
.header__menu-wrapper{margin-right:105px;}
.first-screen{
  background-color:rgb(241,241,241);
 
 
}

.first-screen__container{
  height:100vh;
  padding-top:150px;
  background-image:url(../assets/images/First-screen.png);
  background-repeat:no-repeat;
  background-size:750px 900px;
  background-position:92% 76%;
}
.first-screen__text-container{
  margin-top:255px;
  max-width:500px;
}
.first-screen__header{
  font-size:44px;
  line-height:1.3;
}

.section-3__pic{
    max-width: 645px;
}

.section-3__topic-header{
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 17px;
    text-transform: capitalize;
}
.first-screen__text{
  margin-top:35px;
  font-size:14px;
  color:grey;
  
}
.first-screen__img{
  max-height: 620px;
}

.section-3__topic-para{
    font-weight: bold;
    font-size: 14px;
    color: darkgray;
    margin-bottom: 30px;
    text-transform: capitalize;
}